<ion-view view-title="DominoApp">
<ion-content class="padding">
<a class="button button-block button-dark" href="#/game" ng-hide="!savedGame">Continue</a>
<a class="button button-block button-dark" ng-click="newGame()">New Game</a>
<a class="button button-block button-dark" ng-click="quickGame()">Quick Game</a>
<a class="button button-block button-dark" href="#/players">Players</a>
<a class="button button-block button-dark" href="#/matches">Matches</a>
<a class="button button-block button-dark" href="#/about">About</a>
</ion-content>
</ion-view>
