<label class="item item-input">
  <span class="input-label">Score</span>
  <input ng-model="game.score" type="number">
</label>
<div class="button-bar">
  <button class="button button-icon" ng-click="game.score = game.score + 1">+1</button>
  <button class="button button-icon" ng-click="game.score = game.score + 5">+5</button>
  <button class="button button-icon" ng-click="game.score = game.score + 10">+10</button>
  <button class="button button-icon" ng-click="game.score = game.score + 25">+25</button>
  <button class="button button-icon" ng-click="game.score = game.score + 50">+50</button>
</div>
